div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div a {
  background-color: aqua;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 5rem;
  color: gray;
  opacity: 0.8;
  font-weight: 600;
}
div a:hover {
  opacity: 1;
  color: black;
}
